.download-container {
    display: flex;
    flex-direction: row;
    gap: 0 100px;
}

.download-container img {
    max-width: 100%;
    aspect-ratio: 530/502;
    object-fit: cover;
}

.download-contents {
    margin-top: 60px;
}

.download-title {
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    color: #0F2137;
    letter-spacing: -0.02px;
}

.download-subtitle {
    color: #0F2137;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 30px;
    margin-top: 25px;
}