.footer-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
    margin-top: 25px;
    flex-shrink: 1;


}

.footer-list {
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;

}

.footer-item {
    margin-left: 15px;
    color: #0F2137;
}

.logo-details {}

.footer-logo {
    width: 150px;
    height: 36px;
}