.footer-menu {
    display: grid;
    grid-template-columns: 2fr 2fr .5fr;
    align-items: center;
    margin-bottom: 48px;
    margin-top: 25px;
}

.footer-list {
    display: flex;
    justify-content: space-between;
    gap: 0 30px;


}

.footer-item:hover {
    opacity: 0.8;
}

.footer-item {
    flex-wrap: wrap;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #0F2137;

}

.footer-icon-list {
    display: flex;
    gap: 0 25px;
}

.footer-icon:hover {
    opacity: 0.7;
}

.footer-icon {
    font-size: 25px;
    font-weight: 700;
}

.fb {
    color: #3B5998;
}

.twt {
    color: #55ACEE;
}

.volley {
    color: #B2215A;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo span {
    margin-left: 15px;
}

.footer-logo a {
    text-decoration: underline;
    margin-left: 4px;
}