.photos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
}

.gallery-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    color: #0F2137;
    text-align: center;
    margin-bottom: 50px;
}

.gallery-subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: #0F2137;
    text-align: center;
}