.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 800;
    background-color: #FFF2D9;
    padding: 20px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav .nav-logo {
    display: flex;
    flex-shrink: 1;
}


.header.scrolled {
    background-color: #FFFFFF !important;
}

.nav .nav-menu .nav-list {
    display: flex;
    flex-wrap: wrap;
}

.nav .nav-list .nav-item .nav-link {
    letter-spacing: 1px;
    color: #00334E;
    margin: 0 10px;
    font-weight: 500;
    transition: 0.5s;
    cursor: pointer;
}

.nav .nav-list .nav-item .nav-link:hover {
    color: #00CC99;
}

.nav-btns {
    display: flex;
    flex-shrink: 1;
}

.nav-btns .nav-btn-join {
    font-family: "DM Sans", sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    background-color: #081C27;
    width: 110px;
    height: 45px;
    color: #fff;
    border-radius: 100px;
    cursor: pointer;
    margin-left: 10px;
    border: none;
}

.nav-btn-join:hover {
    opacity: .8;
    transition: 1s ease-in-out;

}

.nav-btns .nav-btn-login {
    font-family: "DM Sans", sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    color: #00334E;
    width: 114px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.nav-btn-login:hover {
    background-color: #fff;
}

.nav-btn-login:active {
    transform: scale(0.9);
}