.home {
    background-color: #FFF2D9;
}

.home-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: "DM Sans", sans-serif;
    padding-bottom: 116px;
    padding-top: 52px;

}

.home-content {
    width: 506px;
    height: 394px;
    padding-top: 128px;

}

.home-photo img {
    mix-blend-mode: multiply;
    width: 550px;
    height: 526px;
    padding-top: 52px;
    position: relative;
    animation: moveRightToLeft 2s forwards;
}

@keyframes moveRightToLeft {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

.home-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    color: #081C27;
    width: 463px;
    height: 120px;
    padding-bottom: 10px;
}

.home-subtitle {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: -0.3px;
    color: #00334E;
    width: 506px;
    height: 38px;
    margin-bottom: 26px;
}

.home-input-form {
    width: 450px;
    height: 65px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 10px;
    margin-bottom: 25px;
    position: relative;
}

.input {
    font-family: "Work Sans", sans-serif;
    border: none;
    width: 340px;
    height: 65px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: -0.3px;
    color: #00334E;
    position: absolute;
    left: 14%;
}

.input:focus {
    outline: none;
}

.location-icon {
    font-size: 25px;
    background-color: #FFFFFF;
    position: absolute;
    left: 5%;
    top: 30%;
    text-align: center;
}

.click {
    background-color: #00334E;
    color: #FFFFFF;
    width: 80px;
    height: 65px;
    padding: 20px;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}

.click:active {
    transform: scale(0.98);
}

.app-available {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #33596A;
    margin-bottom: 25px;
}

.app-btns {
    display: flex;
    gap: 15px;
}

.app-btn {
    width: 182px;
    height: 65px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    background: transparent;
    gap: 0 10px;
    color: #081C27;
    border: 1px solid #00334E;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
}

.app-btn .app-title p {
    font-size: 13px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0.2px;


}

.app-btn .app-title h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;

}

.app-btn .app-icon {
    font-size: 30px;
    padding-left: 15px;
}

.app-btn:hover {
    color: aliceblue;
    background-color: #00334E;
    transition: 1s ease-in-out;
}