.restaurant-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: #0F2137;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 30px;
}

.food-items {
    display: flex;
    flex-wrap: wrap;
    gap: 34px 16px;
    margin-bottom: 40px;
}

.food-card {
    width: 356px;
    height: 295px;
    overflow: hidden;
}

.food-card img {
    width: 356px;
    height: 230px;
    border-radius: 10px;
    transition: transform 1s ease;
}

.food-card img:hover {
    transform: scale(1.1);
}

.food-title {
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
    color: #0F2137;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 8px;
    flex-wrap: wrap;
}

.food-title:hover {
    color: grey;
    transition: 500ms;

}

.category {
    display: flex;
    cursor: pointer;
}

.category li {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #0F2137;
    margin-right: 5px;

}

.category li:hover {
    color: aqua;
    transition: 1s ease-in-out;
}

.food-btn-center {
    text-align: center;
    margin-bottom: 100px;
}

.discover-more {
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    background-color: #00CC99;
    width: 186px;
    height: 55px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
}

.discover-more:hover {
    opacity: 0.8;
    transition: 500ms ease-in;
}

.food-categories {
    text-align: center;
}

.food-categories-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: #0F2137;
    text-align: center;
    margin-bottom: 60px;
}

.food-types {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 12px 10px;
}

.food-btn {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    background-color: #F1F5F8;
    color: #0F2137;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    padding: 14px 25px 13px 25px;

}

.food-btn:hover {
    background-color: #00CC99;
    color: #FFFFFF;

}

.food-btn:active {
    transform: scale(0.99);
}