.testimonial-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    color: #0F2137;
    text-align: center;
    margin-bottom: 66px;
    margin-top: 50px;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 122px;
}

.social-link:active {
    transform: scale(0.98);
}

.testimonial-statements {
    display: flex;
    flex-wrap: wrap;
    gap: 0 73px;
    margin-bottom: 140px;
}

.testimonial-statement {
    width: 507px;
    height: 367px;
}

.statement-title {
    font-size: 26px;
    font-weight: 500;
    line-height: 40px;
    color: #0F2137;
    margin-bottom: 30px;
}

.testimonial-subtitle {
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    color: #36526C;

}

.testimonial-image {
    mix-blend-mode: multiply;
    width: 550px;
    height: 461px;
}