.testimonial-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    color: #0F2137;
    text-align: center;
    margin-bottom: 66px;
    margin-top: 50px;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 122px;
    flex-wrap: wrap;
}

.social-link:active {
    transform: scale(0.98);
}

.testimonial-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0 73px;
    margin-bottom: 140px;
}

.testimonial-statement {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.testimonial-slide {
    display: flex;
    flex-direction: column;
}

.statement-title {
    font-size: 26px;
    font-weight: 500;
    line-height: 40px;
    color: #0F2137;
    margin-bottom: 40px;
}

.quote {
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    color: #36526C;

}

.author-info {
    display: flex;
    align-items: center;
    gap: 0 40px;
    margin-top: 27px;
    margin-bottom: 50px;

}

.testimonial-image img {
    max-width: 100%;
    aspect-ratio: 550/461;
    object-fit: cover;
    mix-blend-mode: multiply;
}

.author {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 0 15px;
}

.author-name {
    font-weight: bold;
    font-size: 16px;
}

.author-role {
    font-size: 14px;
    color: #888;
}












.dots {
    display: flex;
    justify-content: center;
}

.dot {
    height: 10px;
    width: 20px;
    background-color: #ddd;
    border-radius: 35%;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}