.work-heading {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: #0F2137;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 53px;
}

.work-categories {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    text-align: center;
}

.work-card {
    background-color: #FFFFFF;
    width: 376px;
    height: 468px;
}

.work-card img {
    max-width: 100%;
    aspect-ratio: 230/168;
    object-fit: cover;
}

.work-title {
    font-size: 17px;
    line-height: 22px;
    color: #0F2137;
    font-weight: 700;
    margin-top: 35px;
    margin-bottom: 17px;
}

.work-subtitle {
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    color: #0F2137;
    padding: 0 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.work-btn {
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.1px;
    background-color: #FFFFFF;
    color: #2E8DFF;
    cursor: pointer;
    border: none;
}

.work-btn:hover i {
    transition: 500ms ease-in;
    transform: translateX(5px);
}

.work-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 32px;
}

.work-info img {
    max-width: 100%;
    aspect-ratio: 550/568;
    object-fit: cover;
    position: relative;
    /* Allows the element to move relative to its starting position */
    animation: upDown 6s ease-in-out infinite;
}


.details-title {
    /* width: 447px; */
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    color: #0F2137;
    letter-spacing: -0.02px;
}

@keyframes upDown {
    0% {
        top: 0;
    }

    50% {
        top: -40px;
    }

    100% {
        top: 0;
    }
}

.details-subtitle {
    /* width: 550px; */
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: #0F2137;
    margin-top: 16px;
    margin-bottom: 20px;
}

.work-steps {
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin-bottom: 24px;
}


.work-steps .step-no {
    color: #09131F;
    font-size: 55px;
    font-weight: 300;
    line-height: 65px;
    letter-spacing: -0.01px;
    opacity: 20%;
}




.step-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    color: #09131F;
    letter-spacing: -0.01px;
}

.step-subtitle {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #343D48;
}





/* grid-template-rows: repeat(4, minmax(0, 1fr)); eita use korte hobe */