@media screen and (min-width :910px) and (max-width:1129px) {
    .container {
        max-width: 910px;
        margin: auto;
    }

    .home-photo img {
        mix-blend-mode: multiply;
        aspect-ratio: 332/318;
        object-fit: contain;
        position: relative;
        padding-top: 52px;

    }

    .home-input-form {
        width: 435px;
        height: 65px;
    }

    /* ===========================================================================================================
    ============================================For Restuarent Section ================================================= 
    ==============================================================================================================*/

    .food-items {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 34px 15px;
    }

    /* ===========================================================================================================
    ============================================For Work Section ================================================= 
    ==============================================================================================================*/

    .work-categories {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 40px 0;
        text-align: center;
    }

    /* ===========================================================================================================
    ============================================For Feature Section ================================================= 
    ==============================================================================================================*/

    .feature {
        background-position: center;
    }

    /* ===========================================================================================================
    ============================================For Testimonial Section ================================================= 
    ==============================================================================================================*/

    /* ===========================================================================================================
    ============================================For Download Section ================================================= 
    ==============================================================================================================*/
    .download-container {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 0 20px;
    }

    /* ===========================================================================================================
    ============================================For Gallery Section ================================================= 
    ==============================================================================================================*/
    .photos {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 0 10px;
    }

    .photos img:nth-child(even) {
        transform: translateY(20px);

    }

    /* ===========================================================================================================
    ============================================For Order Section ================================================= 
    ==============================================================================================================*/

    .order-container {
        display: flex;
        flex-direction: column;
        gap: 49px 0;
        padding: 20px;
        border-radius: 20px;
        height: auto;
        background-color: #FFFAF0;
        margin-top: 39px;
    }

    .order-content {
        text-align: center;
    }

    .order-image {
        display: none;

    }

    /* ===========================================================================================================
    ============================================For Footer Section ================================================= 
    ==============================================================================================================*/



















}