@media screen and (min-width : 600px) and (max-width:768px) {
    .container {
        max-width: 600px;
        margin: auto;
    }

    /* ===========================================================================================================
    ============================================For Nav Section ================================================= 
    ==============================================================================================================*/
    .nav {

        padding-bottom: 25px;
        padding-top: 35px;
    }

    .nav-btns {
        display: none;
    }


    .nav-list {
        position: absolute;
        right: 0;
        top: 0;
        background-color: #FFFFFF;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        list-style-type: disc;
        padding-top: 50px;

    }

    .close-toggle-icon {
        display: block;
    }

    .nav-list li {
        margin: 0;
    }

    .nav-list.active {
        transform: translateX(0%);
    }

    .nav-toggle {
        display: block;
    }

    /* ===========================================================================================================
    ============================================For Home Section ================================================= 
    ==============================================================================================================*/
    .home-container {
        display: flex;
        flex-direction: column;
    }

    .home-photo img {
        mix-blend-mode: multiply;
        aspect-ratio: 332/318;
        object-fit: contain;
        padding-top: 52px;
        position: relative;
    }

    .home-title {
        font-size: 30px;
        line-height: 40px;
        font-weight: 700;
        letter-spacing: -0.5px;
    }

    .home-subtitle {
        font-size: 15px;
        line-height: 28px;
    }

    .home-input-form {
        width: 435px;
        height: 65px;
    }

    .app-btn {
        padding: 5px 10px;
        text-align: left;
    }

    .app-btn .app-icon {
        font-size: 20px;
        padding-left: 5px;
    }

    .app-title {
        font-size: 15px;
    }

    /* ===========================================================================================================
    ============================================For Restuarent Section ================================================= 
    ==============================================================================================================*/
    .restaurant-title {
        font-size: 20px;
        line-height: 26px;
    }

    .food-items {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 34px 15px;
    }

    .food-categories-title {
        font-size: 20px;
        line-height: 26px;
    }

    .food-btn {
        font-size: 16px;
        line-height: 20px;
    }

    /* ===========================================================================================================
    ============================================For Work Section ================================================= 
    ==============================================================================================================*/

    .work-heading {
        font-size: 20px;
        line-height: 26px;
    }

    .work-categories {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 40px 0;
        text-align: center;
    }

    .work-info {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 32px;
        margin-top: 70px;
    }

    .work-vehicle {
        justify-self: center;
    }

    .work-title {
        font-size: 16px;
        line-height: 20px;
    }

    .work-steps {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .step-subtitle {
        font-size: 14px;
    }

    /* ===========================================================================================================
    ============================================For Feature Section ================================================= 
    ==============================================================================================================*/

    .feature {
        background-position: center;
    }

    .feature-title {
        font-size: 20px;
        line-height: 26px;
    }

    .feature-items {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 49px 15px;

    }

    /* ===========================================================================================================
    ============================================For Testimonial Section ================================================= 
    ==============================================================================================================*/
    .social-links {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 30px 20px;
        text-align: center;
    }

    .statement-title {
        font-size: 20px;
        line-height: 48px;
        text-align: center;
    }

    .testimonial-subtitle {
        line-height: 32px;
    }

    .testimonial-container {
        display: flex;
        flex-direction: column-reverse;
        gap: 73px 0;
        align-items: center;
    }

    .author-info {
        justify-content: center;
    }

    /* ===========================================================================================================
    ============================================For Download Section ================================================= 
    ==============================================================================================================*/

    .download-container {
        display: flex;
        flex-direction: column;
        gap: 20px 0;
    }

    .download-contents {
        margin-top: 0;
    }

    .download-title {
        font-size: 22px;
        line-height: 34px;
    }

    .download-subtitle {
        font-size: 15px;
        line-height: 30px;
    }

    /* ===========================================================================================================
    ============================================For Gallery Section ================================================= 
    ==============================================================================================================*/
    .photos {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 0 10px;
    }

    .photos img:nth-child(even) {
        transform: translateY(20px);

    }

    .gallery-title {
        font-size: 22px;
        line-height: 34px;
        margin-bottom: 16px;
        margin-top: 30px;
    }

    .gallery-subtitle {
        font-size: 15px;
        line-height: 30px;
    }

    /* ===========================================================================================================
    ============================================For Order Section ================================================= 
    ==============================================================================================================*/

    .order-container {
        display: flex;
        flex-direction: column;
        gap: 49px 0;
        padding: 20px;
        border-radius: 20px;
        height: auto;
        background-color: #FFFAF0;
        margin-top: 39px;
    }

    .order-title {
        font-size: 24px;
        line-height: 34px;
        margin-top: 40px;
    }

    .order-subtitle {
        font-size: 16px;
        line-height: 34px;
        margin-bottom: 20px;
    }

    .order-content {
        text-align: center;
    }

    .order-image {
        display: none;

    }

    /* ===========================================================================================================
    ============================================For Footer Section ================================================= 
    ==============================================================================================================*/
    .footer-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 48px;
        margin-top: 57px;
        gap: 30px 0;
    }

    .footer-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px 0;
    }





















}